 * {
     font-size: 1em;
     padding: 0;
     margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
                                                }

html{ 
    line-height: 3em;
    background-color: rgb(51,153,61);
    color: rgb(25,76,31);
    background-image: url(img/Ire.jpg);
}
label{
    display: none;
    font-family: sans-serif;
    
    
}
.wrapper{
    padding-top: 1px;
    width: 100%;
    margin: auto;
    background-color: rgb(68,204,82);
    font-family: serif;
    color: 
    
}

h1{
    font-size: 2.5em;
}
h2{
 font-size: 1.25em;   
}
form{
    font-family: sans-serif;
    padding: 3;
    margin: 10;
    font-size: 1.3rem;
    
}
input{ 
    display: block;
    padding: 0.2rem 2rem;
    margin: 0.2rem 0 2rem 0;

}
.submit{
    width: 25%;
}

@media (min-width: 35em) and (max-width:60em){
    label{
        display: block;
        
}
    .box{
        float: left;
        width: 50%;
    }
}
@media (min-width:60em){
    label{
        display: inline;
        width: 90px;
        float: left;
        font-size: 1.2rem;
    }
    .box{
        width: 50%;
        float: left;
    }
    input{
        width: 50%;
    }
}
