
html{ 
     padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.wrapper{padding-top: 1px;
    width: 100%;
    margin: 0 auto;
    background-color: lightgreen;
    font-family: serif; line-height: 1.75;
}
form{
    font-family: sans-serif;
    padding: 3;
    margin: 10;
    font-size: 1.3rem;
    color: lawngreen;
}
input{ 
    padding: 0.2rem 2rem;
    margin: 0.2rem 0 2rem 0;

}
.box1 label{padding-right: 3.4rem
    
}
.box2 label{padding-right: 3.5rem
    
}
.box3 label{padding-right: 4.2rem
    
}
.box4 label{padding-right: 1rem
    
}
.box1, .box2{
    float: left;
    padding: 0.2rem 2rem;
}
.box3, .box4{
    float: left;
    padding: 0.2rem 2rem;
    color: black;
}
.submit{
    float: left;
}

@media (min-width: 35em){
}
@media (min-width: 35em) and (max-width:60em){.box1,.box2,.box3{color: transparent;
}
    
}
@media (min-width:60em){
    
}